// Colors
$green: #69e8ab;
$dark-blue: #172945;
$light-blue: #571cdb;

$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: #757763;
$grey-light: #d0d1cd;
$primary: $light-blue;
$link: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $dark-blue;
$input-background-color: #EAEAEA;
$input-border-color: #707070;